.App {
  text-align: center;
  padding: 50px;
  /* display: flex; */
  text-decoration: line-through;
}

.todo-body {
  margin: 0 auto;
  display: flex;
  border: 1px solid blue;
  width: 400px;
  /* flex-wrap: wrap; */
}
